In [1]:
# prep: import modules and get pwd
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [2]:
# get the data
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
query = '''select t.type, t.operation, t.amount as t_amount, t.balance, t.k_symbol, l.amount as l_amount, l.duration, l.payments, l.status
from trans t
left join loan l
on t.account_id = l.account_id;'''

data = pd.read_sql_query(query, engine)
data.head()

,type,operation,t_amount,balance,k_symbol,l_amount,duration,payments,status
0,PRIJEM,VKLAD,700.0,700.0,,NaN,NaN,NaN,None
1,PRIJEM,VKLAD,900.0,900.0,,NaN,NaN,NaN,None
2,PRIJEM,VKLAD,1000.0,1000.0,,NaN,NaN,NaN,None
3,PRIJEM,VKLAD,600.0,600.0,,NaN,NaN,NaN,None
4,PRIJEM,VKLAD,400.0,400.0,,NaN,NaN,NaN,None

In [ ]:
data.shape

In [ ]:
# Activity 1
#  pd.read_sql_table will accept a table name and will retrieve the whole table. 
#  You can also read a whole table with pd.read_sql. Try it on the table 'district'.

In [ ]:

# End Activity 1

In [ ]:
data['status'].value_counts(dropna=False)

In [ ]:
data.shape

In [ ]:
data.dtypes

In [ ]:
data.isna().sum()

In [ ]:
data = data[data['duration'].isna() == False]

In [ ]:
data.describe()

In [ ]:
data['duration'] = data['duration'].astype('object') # This will be treated as categorical

In [ ]:
data['duration'].value_counts()

In [ ]:
data.describe()

In [ ]:
data.isna().sum()

In [ ]:
data['operation'].value_counts()

In [ ]:
def cleanOperation(x):
    x = x.lower()
    if 'vyber' in x:
        return "vyber"
    elif 'prevod' in x:
        return "prevod"
    elif 'vklad' in x:
        return 'vklad'
    else:
        return 'unknown'

data['operation'] = list(map(cleanOperation, data['operation']))

In [ ]:
data['operation'].value_counts()

In [ ]:
data['k_symbol'].value_counts()

In [ ]:
data['k_symbol'].value_counts().index

In [ ]:
def cleankSymbol(x):
    if x in ['', ' ']:
        return 'unknown'
    else:
        return x

data['k_symbol'] = list(map(cleankSymbol, data['k_symbol']))

In [ ]:
data['k_symbol'].value_counts()

In [ ]:
data = data[~data['k_symbol'].isin(['POJISTNE', 'SANKC. UROK', 'UVER'])] # ~ : NOT

In [ ]:
data['k_symbol'].isin(['POJISTNE', 'SANKC. UROK', 'UVER'])

In [ ]:
# discuss disadvantages and alternatives to dropping rows

In [ ]:
data['type'].value_counts()

In [ ]:
# Activity 2:
# Explore values in columns TYPE and OPERATION. 
# How many different loans of each type and operation are there? 
# How many loans for each combination? 
# (You may want to check out pandas.crosstab function.)

In [ ]:
import seaborn as sns
%matplotlib inline
sns.countplot(x=data.type)

In [ ]:
data.operation.value_counts()

In [ ]:
sns.countplot(x=data.operation)

In [ ]:
pd.crosstab(data.type, data.operation)

In [ ]:
#End Activity 2

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# look for multicolinearity (some columns having almost identical correlation to other variables)
# why can't we look for correlation with our target variable (status)?
corr_matrix=data.corr(method='pearson')  # default
fig, ax = plt.subplots(figsize=(10, 8))
ax = sns.heatmap(corr_matrix, annot=True)
plt.show()

In [ ]:
# look at the scale and distribution of values
sns.displot(data['t_amount'])
plt.show()

sns.displot(data['l_amount'])
plt.show()

sns.displot(data['balance'])
plt.show()

sns.displot(data['payments'])
plt.show()

In [ ]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
# from sklearn.preprocessing import StandardScaler

X_num = data.select_dtypes(include = np.number)
X_cat = data.select_dtypes(include = np.object)

# Scaling data
transformer = MinMaxScaler().fit(X_num)
x_normalized = transformer.transform(X_num)
x_norm = pd.DataFrame(x_normalized)
x_norm.head()

In [ ]:
# Whoa, One step back please. What did I do wrong here?

In [ ]:
# Need to X-y-split AND train-test-split BEFORE I apply transformations, 
# then train transformation on training set only
y = data['status']
X = data.drop('status', axis=1)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1337)

In [ ]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
# from sklearn.preprocessing import StandardScaler

X_train_num = X_train.select_dtypes(include = np.number)

# Scaling data
transformer = MinMaxScaler().fit(X_train_num) # need to keep transformer
X_train_normalized = transformer.transform(X_train_num)
X_train_norm = pd.DataFrame(X_train_normalized)

In [ ]:
X_train_norm.columns = X_train_num.columns
X_train_norm.head()

In [ ]:
X_train_categorical = X_train.select_dtypes(include = np.object)
X_train_cat = pd.get_dummies(X_train_categorical, 
                             columns=['type', 'operation', 'k_symbol', 'duration'],
                             drop_first=True)
X_train_cat.head()

In [ ]:
# Activity 3
# Explore visually the transformed numerical columns. What do you see?
# Another typical transformation for numerical columns is to take the logarithm. 
# Apply the log transform to columns balance and t_ammount and compare the results with the scaled data.

In [ ]:
# End Activity 3

In [ ]:
# build X_train and y_train
# remember: y = data['status'], y_train selected in train_test_split
X_train_transformed = np.concatenate([X_train_norm, X_train_cat], axis=1)

In [ ]:
from sklearn.linear_model import LogisticRegression
classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='multinomial').fit(X_train_transformed, y_train)

In [ ]:
classification = LogisticRegression(random_state=0, solver='saga',
                  multi_class='multinomial').fit(X_train_transformed, y_train)

In [ ]:
# Can we now make predictions on the X_test?
# predictions = classification.predict(X_test)
# classification.score(X_test, y_test)


# NO - need to perform transformations on the X_test as well

In [ ]:
# for numericals
X_test_num = X_test.select_dtypes(include = np.number)

# Scaling data
# we use the transformer that was trained on the training data
X_test_normalized = transformer.transform(X_test_num)
X_test_norm = pd.DataFrame(X_test_normalized)

In [ ]:
# for categoricals
X_test_categorical = X_test.select_dtypes(include = np.object)
X_test_cat = pd.get_dummies(X_test_categorical, 
                            columns=['type', 'operation', 'k_symbol', 'duration'],
                            drop_first=True)
# verify that dummies columns are in the same order and that the same column was dropped
display(list(zip(list(X_train_cat.columns),list(X_test_cat.columns))))
# not needed if you treat each dataframe with one_hot_encoder and save the encode (and the column names)

X_test_cat.head()

In [ ]:
X_test_transformed = np.concatenate([X_test_norm, X_test_cat], axis=1)

In [ ]:
# Now we can make predictions on the test set:
predictions = classification.predict(X_test_transformed)
classification.score(X_test_transformed, y_test)

In [ ]:
print(y_test.value_counts())
# As you would notice here, there is a huge imbalance in the data among the different classes. 
# We will talk more about imbalance and how to resolve it later (tomorrow)

In [ ]:
pd.Series(predictions).value_counts()
# This shows that the disparity in the numbers are amplified by the model

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

In [ ]:
# predicted | A | B | C | D |
# --------------------------
# actual  A | + |  |   |   |
# --------------------------
#         B |   | + |   |   |
# --------------------------
#         C |   |   | + |   |
# --------------------------
#         D |   |   |   | + |

In [ ]:
# bonus: KNN classifier: look at nearest neighbours and use the majority to determine class
from sklearn import neighbors
clf = neighbors.KNeighborsClassifier(n_neighbors=5, weights='uniform')
clf.fit(X_train_transformed, y_train)
predictions_clf = clf.predict(X_test_transformed)
clf.score(X_test_transformed, y_test)

In [ ]:
confusion_matrix(y_test, predictions_clf)

In [ ]:
pd.Series(y_test).value_counts()

In [ ]:
pd.Series(predictions_clf).value_counts()