In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()
X = boston.data
y = boston.target
features = pd.DataFrame(boston['data'], columns = boston['feature_names'])
labels = pd.Series(boston['target'], name = 'labels')

In [3]:
display(features.head())
display(labels.head())

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: labels, dtype: float64

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [5]:
from sklearn.linear_model import LinearRegression
LRmodel = LinearRegression()
LRmodel = LRmodel.fit(X_train, y_train)
LRmodel.score(X_test,y_test)

0.6844267283527068

In [6]:
import pickle

pickle.dump(LRmodel, open('model.p', 'wb'))

In [7]:
X_test = pd.DataFrame(X_test, columns = boston['feature_names'])
y_test = pd.Series(y_test, name = 'labels')
display(X_test.head())
display(y_test.head())

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.09178,0.0,4.05,0.0,0.510,6.416,84.1,2.6463,5.0,296.0,16.6,395.50,9.04
1,0.05644,40.0,6.41,1.0,0.447,6.758,32.9,4.0776,4.0,254.0,17.6,396.90,3.53
2,0.10574,0.0,27.74,0.0,0.609,5.983,98.8,1.8681,4.0,711.0,20.1,390.11,18.07
3,0.09164,0.0,10.81,0.0,0.413,6.065,7.8,5.2873,4.0,305.0,19.2,390.91,5.52
4,5.09017,0.0,18.10,0.0,0.713,6.297,91.8,2.3682,24.0,666.0,20.2,385.09,17.27

0    23.6
1    32.4
2    13.6
3    22.8
4    16.1
Name: labels, dtype: float64

In [8]:
X_test.to_pickle('xtest.p')
y_test.to_pickle('ytest.p')